@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent

<root>
    <div class="text">@menuTitle</div>
	<div class="credits">@creditsText</div>
	<div class="bytext">@byText</div>
    <button @onclick=@changeScene>Start New Game</button>
    <button @onclick=@changeScene2>Level Selector</button>
</root>

@code
{
    [Property] public SceneFile startGame { get; set; }
    [Property] public SceneFile levelSelector { get; set; }
    [Property] public string menuTitle { get; set; } = "";
    [Property] public SoundEvent buttonClickSound { get; set; }
    [Property] public bool playSound {get; set;}
	[Property] public string creditsText {get; set;} = "";
	[Property] public string byText {get; set;} = "";

    
	

	
	void changeScene()
    {
        Log.Info("aaa");
        
        if (playSound==true)
       
        {
 Sound.Play(buttonClickSound);
        }
        
        GameManager.ActiveScene.Load(startGame);
        
    }

    void changeScene2()
    {
        Log.Info("bbb");
        if (playSound==true)
       
        {
 Sound.Play(buttonClickSound);
        }
        GameManager.ActiveScene.Load(levelSelector);
    }

    protected override int BuildHash() => System.HashCode.Combine(startGame, levelSelector, byText, buttonClickSound, playSound);
}
